site_name: napari-ndev
site_url: https://TimMonko.github.io/napari-ndev/
site_description: Napari widgets to process microscopy images
repo_name: timmonko/napari-ndev
repo_url: https://github.com/timmonko/napari-ndev
copyright: Copyright &copy; 2023-2025 Tim Monko

theme:
  name: material
  favicon: resources/images/nDev-icon.svg
  logo: resources/images/nDev-icon.svg
  icon:
    repo: fontawesome/brands/github
  palette:
  # Palette toggle for light mode
  - scheme: default
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode

  # Palette toggle for dark mode
  - scheme: slate
    primary: teal
    accent: light-green
    toggle:
      icon: material/brightness-4
      name: Switch to light mode
  features:
    - content.code.annotate
    - navigation.sections
    - navigation.indexes
    - toc.follow
    - search.suggest
    - search.share

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/timmonko/napari-ndev
      name: napari-ndev on GitHub
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/napari-ndev
      name: napari-ndev on PyPI

nav:
  - Overview: index.md
  - Installation: installation.md
  - Beginner Setup: beginner_setup.md
  - Further Widget Info: widget_further_info.md
  - Poster: BINA_poster.md
  - I2K Workshop:
    - 1) Tutorial Setup: tutorial/00_setup.md
    - 2) Example Pipeline: tutorial/01_example_pipeline.md
    - 3) Easy Machine Learning: tutorial/02_easy_ML.md
    - 4) Build Your Own Pipeline: tutorial/03_build_pipeline.md
  - Examples:
    - Image Utilities: examples/utilities/image_utilities.ipynb
    - Workflow:
      - napari workflow: examples/workflow/workflow_napari-assistant.ipynb
      - workflow widget: examples/workflow/workflow_widget.ipynb
      - script workflow: examples/workflow/workflow_scripting.ipynb
    - Measure Widget: examples/measure/measure_widget.ipynb
  - API:
    - Widgets:
      - api/widgets/image_utilities.md
      - api/widgets/workflow_widget.md
      - api/widgets/apoc_widget.md
      - api/widgets/custom_apoc_feature_set.md
      - api/widgets/measure_widget.md
      - api/widgets/napari_reader.md
    - Image Overview: api/image_overview.md
    - PlateMapper: api/plate_mapper.md
    - Measure: api/measure.md
    - Morphology: api/morphology.md
    - Helpers: api/helpers.md
    - nImage: api/nimage.md

watch:
  - src

markdown_extensions:
  - tables
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.extra
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: "#"
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
plugins:
  - search
  - table-reader
  - autorefs
  - literate-nav
  - spellcheck:
      backends:
        - codespell:
            dictionaries: [clear, rare]
  - mkdocstrings:
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
            - https://psygnal.readthedocs.io/en/latest/objects.inv
            - https://pint.readthedocs.io/en/stable/objects.inv
            - https://napari.org/stable/objects.inv
          options:
            docstring_style: numpy # required
            heading_level: 2
            separate_signature: true
            line_length: 80
            parameter_headings: true
            show_source: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_signature_annotations: false # unsure here, adds type annotations to the function signature, but this is redundant with the parameters section
            annotations_path: brief
            show_root_heading: true # adds name of module to top of page
            show_root_full_path: true # adds full path to root of module
            show_root_toc_entry: true
            show_bases: true
            docstring_section_style: list
  - mkdocs-jupyter:
      include_source: true
      include: ["*.ipynb"]
      remove_tag_config:
        remove_input_tags: ["hide"]
  - mkdocs-pdf
